#ignore csv files
*.csv
# dont save pdf to git to save room and not put photos online
AllPDFS/*
*.number
!AllPDFS/pdfWillBeGeneratedHere.md
# dont save photos to git for security
AllPhotos/*
!AllPhotos/PNGWillBeSavedHere.md
# dont save gimp files to git
*.xcf
TEMP.png
__pycache__